[submodule "analysis/libraries/HOI_toolbox"]
	path = benchmarking/libraries/HOI_toolbox
	url = git@github.com:PranavMahajan25/HOI_toolbox.git
[submodule "analysis/libraries/gcmi"]
	path = benchmarking/libraries/gcmi
	url = git@github.com:robince/gcmi.git
[submodule "analysis/libraries/jidt"]
	path = benchmarking/libraries/jidt
	url = git@github.com:jlizier/jidt.git
[submodule "analysis/libraries/NPEET"]
	path = benchmarking/libraries/NPEET
	url = https://github.com/gregversteeg/NPEET.git
